name: Docker Image CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4.1

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: xiyang6666
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag xiyang6666/xas_qqbot:$(git rev-parse --abbrev-ref HEAD)-$(git rev-list --count HEAD)

      - name: Push the Docker image
        run: docker push xiyang6666/xas_qqbot:$(git rev-parse --abbrev-ref HEAD)-$(git rev-list --count HEAD)
